/* add-product.component.css */
.add-product-card {
    margin: 20px;
    width: 80%;
  }
  
  .full-width {
    width: 80%;
  }
  
  .submit-btn {
    text-align: center;
    margin-top: 20px;
  }
  
  mat-card-title{
    color: aqua;
  }

  .red-alert{
    color:red;
  }