<app-product-search></app-product-search>















<!-- <h1>The value is {{value()}} and mul 10 {{valueMul10()}}</h1>
<button (click)="changeTheSignal()">Signal value</button>

<app-stam></app-stam>
<app-coutner></app-coutner>
<button (click)="changeVis()">Hide/Show</button>
@if(flag)
{
<app-coutner></app-coutner>
<app-coutner></app-coutner>
<app-coutner></app-coutner>
<app-coutner></app-coutner>
<app-coutner></app-coutner>
<app-coutner></app-coutner>
<app-coutner></app-coutner>
}

<router-outlet></router-outlet>

{{logIt()}} -->