<h2>Users</h2>
<table mat-table [dataSource]="store.users()" class="mat-elevation-z8" multiTemplateDataRows>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let user"> {{ user.id }} </td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let user"> {{ user.firstName }} </td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let user"> {{ user.lastName }} </td>
    </ng-container>

    <!-- Age Column -->
    <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let user"> {{ user.age }} </td>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let user"> {{ user.gender }} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let user"> {{ user.phone }} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let user">
            <!-- <button mat-button color="warn" (click)="store.setCurrentUser(user.id)">
                Select
            </button> -->
        </td>
    </ng-container>


    <ng-container matColumnDef="expandedDetail">

        <td mat-cell *matCellDef="let user" [attr.colspan]="displayedColumns.length">
            @if(store.selectedUserIds().includes(user.id))
            {
            <div class="users-tasks">
                <app-user-tasks [userId]="user.id"></app-user-tasks>
            </div>
            }
        </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="store.toggleSelection(row.id)"></tr>

    <ng-container *matRowDef="let row; columns: ['expandedDetail']">
        <tr mat-row class="example-detail-row"></tr>
    </ng-container>


</table>

{{store.selectedUserIds() | json}}